		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="class" x-data="flash()" x-init="setTimeout(() => show = false, 60000)">
					<div x-show="show" class="fixed bottom-10 right-0 m-6">
						<div
							:class="{
							        'p-4 pr-8 bg-red-200 text-red-900': {% if type == 'error' %}true{% else %}false{% endif %},
							        'p-4 pr-8 bg-green-200 text-green-900': {% if type == 'success' %}true{% else %}false{% endif %},
							      }"
	                         style="min-width: 240px"
						>
							<div class="flex items-center">
								{{ message }}
							</div>
							<button @click="show = false"
							        class="opacity-75 inline-block cursor-pointer absolute top-0 right-3 h-full py-2 hover:opacity-100">
								<i class="fas fa-times outline-none"></i>
							</button>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
{% block javascripts %}
	<script type="text/javascript">
        function flash() {
            return {
                show: true,
                colors: ['#2196F3', '#009688', '#9c27b0', '#e9cd18', '#afbbc9', '#4CAF50', '#2d3748', '#f56565', '#ed64a6'],
                colorSelected: '#2196F3'
            }
        }
	</script>
{% endblock %}
