{% extends 'layout/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<style xmlns:x-transition="http://www.w3.org/1999/xhtml">
		.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
		.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	</style>
	<main class="grid grid-rows-col grid-cols-12">
		<section class="col-span-12">
			<div class="w-full h-screen website-img-banner">
				<div class="slogan ml-48 pl-4 pt-12 text-blue-50 border-l-8">
					<h1 class="text-6xl font-black">Snowtricks</h1>
					<ul class="text-2xl font-bold">
						<li class="class">Speak</li>
						<li class="class">Apprend</li>
						<li class="class">Ride</li>
						<li class="class">Partage</li>
					</ul>
				</div>
			</div>
		</section>
		<section x-data="displayTricks()"
		         x-init="container = document.getElementById('trick-card-container');"
		         class="col-start-2 col-span-10 mt-8 mx-auto">
			<div class="-mt-28">
				<h1 class="text-9xl font-snowtricks italic text-indigo-900 font-black tracking-tight">LES TRICKS</h1>
				<p>Ces tricks sont publiés par la communotée, si vous voyez une correction à apporter connectez-vous et contribuez au partage de connaissance !</p>
			</div>
			<div class="mt-8"
				@scroll.window="setInterval(scrollDisplayTricks(window.pageYOffset, last_limit, tricks), 2000);">
				<div id="trick-card-container" class="flex flex-wrap content-start justify-start mt-8">
{#					 Tricks appear here !#}
				</div>
			</div>
		</section>
	</main>

		<script>
			function displayTricks() {

			    return {
			        tricks: [],
			        base_scroll_limit: 180,
			        last_limit: 180,
				    ticking: false,
				    nb_iteration: 0,
                    container: document.getElementById('trick-card-container'),

                    scrollDisplayTricks(actual_pos, actual_limit, already_fetched) {

                        if(actual_pos > actual_limit && actual_pos < actual_limit + 15) {


                            fetch('http://snowtricks.local/feed/' + this.nb_iteration + '/tricks')
                                .then(response => response.json())
                                .then(function(data) {
                                    // this.tricks = JSON.stringify(data.tricks);
                                    already_fetched.push(data.tricks);
                                    console.log(already_fetched);
                                    data.tricks.map((x) => displayTrick(x));

                                    function displayTrick(current_trick) {
                                        const div = document.createElement('div');
                                        div.setAttribute('class','trick-card flex-none mx-8 mb-8 rounded-t-md h-52 w-72 shadow-sm '+
                                            'transition duration-200 ease-out bg-gray-50 hover:bg-gray-200 hover:shadow-xl transform hover:-translate-y-1 hover:scale-110 hover:rotate-1 ');
                                        // div.classList.add("position-absolute", "rounded", "border-rounded");
                                        div.innerHTML = '<img src="' + current_trick.preview_path + '" alt="img" class="rounded-t-md h-40 w-72">'+
                                            '<div class="flex justify-start pt-2 mb-24">'+
                                            '<h3 class="mx-2 text-2xl font-black font-mono">' + current_trick.title + '</h3>'+
                                            '<p class="ml-1">Trick n° ' + current_trick.id + '</p>'+
                                            '</div>';
                                        this.container = document.getElementById('trick-card-container');
                                        this.container.appendChild(div)
                                    }
                                    // TODO faire un jolie data.map()
	                                // data.tricks.map((x) => {displayTrick(x);})

                                })
	                            .then(() => {
                                    this.nb_iteration++;
                                    this.last_limit = (this.last_limit + this.base_scroll_limit * this.nb_iteration);
                                    console.log(this.nb_iteration);
                                    console.log(this.last_limit);
                                },
                            );
                        }
				    },

			    } // Return
			} // displayTricks()

            // window.addEventListener('scroll', function(e) {
            //     last_pos_known = window.scrollY;
			//
            //     if (!ticking) {
            //         window.requestAnimationFrame(function() {
            //             setTimeout(function () {
            //                 fetchTricks(last_pos_known);
            //             }, 300);
            //             ticking = false;
            //         });
            //     }
			//
            //     ticking = true;
            // });
			//
            // const target = document.getElementById('stat-solde-remmainig');
            // fetch('http://snowtricks.local/feed/6/tricks')
            // .then(response => response.json())
            //     .then(function(data) {
            //         if(data[0].solde_points_prochaine_expiration != "0") {
            //             target.classList.add("position-relative");
            //             const div = document.createElement('div');
            //             div.setAttribute('style','height: 78px; width: 100px; top:35px; right:-20px; border: 2.8px solid #f9cb60; background-color: rgba(249, 208, 100, 0.34); z-index: 999;');
            //             div.setAttribute('id','expire-tooltip');
            //             div.classList.add("position-absolute", "rounded", "border-rounded");
            //             div.setAttribute('hidden', 'hidden');
            //             div.innerHTML = "<p class='text-primary fs-15 fw-700'>Dont " + data[0].solde_points_prochaine_expiration + " <?php echo $customer->get('currency_symbol') ?> expirent le <strong>" + data[0].date_prochaine_expiration + "</strong></p>";
            //             target.appendChild(div)
            //         }
            //     });
            // const sold = document.getElementById('lottie-restant');
            // sold.addEventListener("mouseover", function() {
            //     const expire_tooltip = document.getElementById('expire-tooltip');
            //     if(!expire_tooltip) {
			//
            //     } else {
            //         if(expire_tooltip.hasAttribute('hidden')) {
            //             expire_tooltip.removeAttribute('hidden');
            //         }
            //     }
            // });
            // sold.addEventListener("mouseout", function() {
            //     const expire_tooltip = document.getElementById('expire-tooltip');
            //     if(expire_tooltip) {
            //         if(!expire_tooltip.hasAttribute('hidden'))
            //             expire_tooltip.setAttribute('hidden', 'hidden');
            //     }
            // }); // Fin infobulle du solde

		</script>
{% endblock %}
