<header class="">
    <div class="flex flex-row mt-6">
        <div class="mx-auto w-2/6">
            <img src="" alt="">
        </div>
        <div class="mx-auto w-4/6">
            <nav class="class">
                <ul class="class">
                    <li class="inline mr-4">
                        <a href="/">Tricks</a></li>
                    <li class="inline mr-4">
                        <a href="/">Aceuil</a></li>
                    <li class="inline mr-4">
                        <a href="/">Sponsor</a></li>
                </ul>
            </nav>
        </div>
        <div class="mx-auto w-2/6">
            <nav class="class">
                <ul class="class">
                    <li class="inline mr-4">
                        <a href="/login">connexion</a></li>
                    <li class="inline mr-4">
                        <a href="/register">inscription</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
