<header class="">
    <nav class="grid grid-cols-12 text-lg h-14 pt-3">

        <div class="col-span-3 pl-8">
            <a href="/" class="font-snowtricks font-black italic text-3xl ">SNOWTRICKS</a>
        </div>
        <div class="col-span-7">
            <div class="">
                <ul class="text-right">
                    <li class="inline-block mr-4">
                        <a href="/">Tricks</a></li>
                    <li class="inline-block mr-4">
                        <a href="/">Accueil</a></li>
                    <li class="inline-block mr-4">
                        <a href="/">Sponsor</a></li>
                </ul>
            </div>
        </div>
        <div class="col-span-2 pr-8">
            <nav class="class">
                <ul class="class text-right">
                    <li class="inline-block mr-4">
                        <a href="/login">connexion</a></li>
                    <li class="inline-block mr-4">
                        <a href="/register" class="register_link">inscription</a></li>
                </ul>
            </nav>
        </div>
    </nav>
</header>
{% block javascripts %}
    <script>

    </script>
{% endblock %}
