{% extends 'layout/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% form_theme form with ['form_themes/form_errors.html.twig'] %}
{% block body %}
    <div class="font-sans w-10/12 md:w-4/12 mx-auto mt-8 pl-16 md:px-40">
        {{ form_start(form,
            {'attr': { 'class': '', 'novalidate': true }})
        }}
            {{ form_row(form.email,
                {
                    'label': 'Adresse email :',
                    'attr': {
                        'placeholder': 'votre adresse email',
                        'class': 'input-txt'
                }})
            }}
            <div class="mx-6 mt-6 mx-auto">
                <button class="submit_btn text-gray-50" id="submit" type="submit" name="submit" >envoyer !</button>
                <ul class="my-4">
                    <li class="class">
                        <a href="/register">inscription</a>
                    </li>
                    <li class="">
                        <a href="password/reset" class="">mot de passe oubliée ?</a>
                    </li>
                </ul>
            </div>
        {{ form_end(form) }}
    </div>

    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
	See https://symfony.com/doc/current/security/remember_me.html

	<div class="checkbox mb-3">
		<label>
			<input type="checkbox" name="_remember_me"> Remember me
		</label>
	</div>
    #}
{% endblock %}
